{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'cars/css/filter-form.css' %}">
    <script src="{% static 'cars/js/form-control.js' %}"></script>
{% endblock extraHead %}

{% block mainContent %}
    <div class="w-screen h-[calc(100vh-84px)] pt-8 p-12 space-y-4 pb-10">
        <h1 class="text-app-blue-500 text-2xl font-bold">{{ context.titleOfPage }} LUXURY CARS FOR SALE</h1>
        <form id="filter-form" class="flex items-center justify-between w-full">
            <div class="flex items-center gap-8">
                {{ context.filter.form.as_p }}
            </div>
            <div class="flex items-center gap-6">
                <a class="px-4 py-2 rounded-none font-bold text-white bg-app-red-500 text-sm">EXPORT</a>
                <a href="{% url 'cars-create' %}?carType={{ context.carType }}" class="px-4 py-2 rounded-none font-bold text-white bg-app-blue-500 text-sm">+ ADD NEW CAR</a>
            </div>
        </form>
        <div class="flex flex-wrap gap-10">
            {% for car in context.filter.qs %}
            	<div class="flex flex-col justify-start items-start relative">
                    <a class="absolute top-[10px] right-[10px] text-app-red-900">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                    <img class="w-80 h-52" src="{% static 'images/car_1.png' %}" alt="">
                    <div class="w-full text-center flex flex-col items-start mt-2">
                        <p class="text-center w-full font-roboto font-bold text-black text-ellipsis overflow-hidden">
                            {{ car.model|upper }}
                        </p>
                        <p class="text-center w-full font-roboto font-bold text-black text-ellipsis overflow-hidden">BRAND -
                            {{ car.brand|upper }}
                        </p>
                        <p class="text-center w-full font-roboto font-bold text-black text-ellipsis overflow-hidden">
                            YEAR - {{ car.car_year }} / COLOR - {{ car.color|upper }}
                        </p>
                        <p class="text-center w-full font-roboto font-bold text-app-red-900 text-ellipsis overflow-hidden">
                            U$ {{ car.price }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock mainContent %}
